<main class="main">

  <div>
    <img src="assets/main-page.svg" alt="">
  </div>

  <app-header class="header-component">
  </app-header>

  <section class="company">
    <h1 class="company-title">GOUTKZ <br> </h1>
    <p class="company-text">
      Мы поможем выбрать место где можно провести незабываемый отдых
    </p>
  </section>
  <section class="about">
    <div class="about-us">
      <p class="about-us__text">
        Здравствуйте! Мы компания которая поможет вам провести не забываемый отдых одному,<br> или же со всей семьей.
        <br>
        Это компания была создана четырьмя студентами, которые хотят предоставить вам <br> незабываемый отдых!
      </p>
    </div>
  </section>
  <app-footer>
  </app-footer>

</main>
