<main class="main">

  <div>
    <img src="assets/main-page.svg" alt="">
  </div>

  <app-header class="header-component">
  </app-header>

  <section class="company">
    <h1 class="company-title">GOUTKZ <br> </h1>
    <p class="company-text">
      Мы поможем выбрать место где можно провести незабываемый отдых
    </p>
  </section>
  <div class="companies">
    <section class="companies-cart">
      <div class="companies-img">
        <img  src="assets/1.jpeg" alt="">
      </div>
      <div class="companies-block">
        <p class="companies-text">Kolsai Tour</p>
        <a class="companies-btn" href="https://www.tripadvisor.ru/Attraction_Review-g298251-d14040460-Reviews-Kolsai_Tour-Almaty.html" target="_blank">
          Перейти
        </a>
      </div>
    </section>
    <section class="companies-cart">
      <div class="companies-img">
        <img  src="assets/2.jpeg" alt="">
      </div>
      <div class="companies-block">
        <p class="companies-text">SUVtours</p>
        <a class="companies-btn" href="https://www.tripadvisor.ru/Attraction_Review-g298251-d13743083-Reviews-SUVtours-Almaty.html" target="_blank">
          Перейти
        </a>
      </div>
    </section>
    <section class="companies-cart">
      <div class="companies-img">
        <img src="assets/3.jpg" alt="">
      </div>
      <div class="companies-block">
        <p class="companies-text">Nomad Outfitters</p>
        <a class="companies-btn" href="https://www.tripadvisor.ru/Attraction_Review-g298251-d13207142-Reviews-Nomad_Outfitters-Almaty.html" target="_blank">
          Перейти
        </a>
      </div>
    </section>
    <section class="companies-cart">
      <div class="companies-img">
        <img src="assets/4.jpg" alt="">
      </div>
      <div class="companies-block">
        <p class="companies-text">SKYWAY</p>
        <a class="companies-btn" href="https://www.tripadvisor.ru/Attraction_Review-g298251-d15289250-Reviews-SKYWAY-Almaty.html" target="_blank">
          Перейти
        </a>
      </div>
    </section>
  </div>

  <app-footer>
  </app-footer>

</main>
