<div class="footer">
  <section class="footer-block">

    <div class="company">
      <img class="company-footer" src="assets/logo.svg" alt="">
      <p class="company__text">GOUTKZ</p>
      <span class="company__info">Мы поможем выбрать место где можно провести незабываемый отдых</span>
    </div>

    <div class="contacts">
      <p class="contacts__text">Контакты</p>
      <span class="contacts__info">+7 701 081 91 05</span>
      <span class="contacts__info">office@Gout.kz</span>

      <p class="contacts__address">Адрес</p>
      <span class="contacts__info">улица Кунаева 135</span>
    </div>

    <div class="consultation">
      <p class="consultation__text">Бесплатно проконсультируем если возникнут вопросы</p>
      <div class="call">
        <p class="consultation__number">Телефон</p>
        <span class="consultation__img">
          <img class="arrow" src="assets/arrow.svg" alt="">
        </span>
      </div>
    </div>

  </section>

</div>
